// powered by http://sebastianpontow.de/css2compass/   
//colors
$color_storm_dust_approx: #666
$color_wild_sand_approx: #f5f5f5
$color_tundora_approx: #444
$color_smalt_blue_approx: #607d8b
$color_river_bed_approx: #41545e
$color_blue_bayoux_approx: #4b626d
$white: #fff
$black_40: rgba(0, 0, 0, 0.4)
$color_cutty_sark_approx: #566f7c
$black_30: rgba(0, 0, 0, 0.3)
$color_cinnabar_approx: #e53935
$white_80: rgba(255, 255, 255, 0.8)
$color_persian_red_approx: #d32f2f
$color_thunderbird_approx: #b71c1c
$black_20: rgba(0, 0, 0, 0.2)
$white_60: rgba(255, 255, 255, 0.6)
$black_14: rgba(0, 0, 0, 0.14)
$color_red_orange_approx: #f44336
$color_stack_approx: #8a8a8a
$color_silver_approx: #bdbdbd
$color_gray_nurse_approx: #e8e8e8
$color_log_cabin_approx: #222
$black: #000
$color_royal_purple_approx: rebeccapurple

//@extend-elements
//original selectors
//.btn, a.btn
.extend_1 
	background: $color_blue_bayoux_approx
	color: $white
	padding: 8px 15px
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 2px
	//If you use compass, instead of the line below you could use + background-clip($clip)
	background-clip: padding-box
	//If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 2px 4px 0 $black_40
	text-transform: uppercase
	font-weight: 500
	font-size: 14px



body 
	font-family: Roboto, sans-serif
	background: $color_wild_sand_approx
	font-size: 14px
	color: $color_tundora_approx
	overflow-x: hidden

h1 
	font-weight: 500

h2 
	font-weight: 500

h3 
	font-weight: 500

h4 
	font-weight: 500

h5 
	font-weight: 500

h6 
	font-weight: 500

a 
	color: $color_smalt_blue_approx
	&:hover 
		text-decoration: underline
		color: $color_river_bed_approx

	&:focus 
		text-decoration: none

	&.btn 
		&:hover 
			color: $white
			background: $color_cutty_sark_approx



p 
	line-height: 1.5

.btn 
	&:hover 
		color: $white
		background: $color_cutty_sark_approx


#topcontrol 
	background: $color_blue_bayoux_approx
	color: $white
	text-align: center
	display: inline-block
	z-index: 30
	width: 36px
	height: 36px
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 50%
	//If you use compass, instead of the line below you could use + background-clip($clip)
	background-clip: padding-box
	//If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 6px 10px 0 $black_30
	&:hover 
		background: $color_river_bed_approx
		color: $white

	.fa 
		position: relative
		top: 3px
		font-size: 25px
		font-weight: normal


.header 
	background: $color_cinnabar_approx
	color: $white
	a 
		color: $white

	.top-bar 
		position: relative
		padding-top: 15px
		padding-bottom: 120px

	.social 
		margin-bottom: 0
		a 
			color: $white_80
			display: inline-block
			text-align: center
			width: 32px
			height: 32px
			//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
			border-radius: 50%
			//If you use compass, instead of the line below you could use + background-clip($clip)
			background-clip: padding-box
			padding-top: 2px
			font-size: 16px
			//If you use compass, instead of the line below you could use + transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
			transition-duration: .3s
			&:hover 
				color: $white



	.actions 
		position: absolute
		right: 15px
		top: 15px
		.fa 
			margin-right: 5px

		a 
			margin-right: 10px
			color: $white
			&:last-child 
				margin-right: 0



	.profile-image 
		position: absolute
		width: 160px
		height: 160px
		top: -80px
		margin-left: -80px

	.name 
		font-size: 48px
		margin-bottom: 15px
		letter-spacing: 0.5px

	.title 
		font-size: 28px
		font-weight: 300
		color: $white_80
		margin-bottom: 30px

	.intro 
		background: $color_persian_red_approx
		padding-top: 90px
		padding-bottom: 60px
		position: relative
		font-size: 16px

	.profile 
		max-width: 800px
		margin: 0 auto

	.contact-info 
		background: $color_persian_red_approx
		padding-top: 30px
		padding-bottom: 30px
		font-size: 16px
		ul 
			margin-bottom: 0

		li 
			margin-right: 30px
			color: $white_80
			a 
				color: $white_80
				&:hover 
					color: $white


			&:last-child 
				margin-right: 0

			.fa 
				margin-right: 10px




.page-nav-space-holder 
	height: 60px
	position: relative

.page-nav-wrapper 
	background: $color_thunderbird_approx
	padding-top: 20px
	padding-bottom: 20px
	position: absolute
	width: 100%
	left: 0
	//If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 4px 12px $black_20
	&.fixed 
		position: fixed
		top: 0
		left: 0
		width: 100%
		z-index: 100
		background: $color_smalt_blue_approx

	a 
		color: $white_60
		text-decoration: none
		font-weight: 500

	.page-nav 
		margin: 0 auto
		display: inline-block
		li 
			margin-right: 30px
			display: inline-block
			background: none
			&:hover 
				background: none

			&:active 
				background: none

			a 
				color: $white_60
				padding: inherit
				&:hover 
					color: $white
					background: none

				&:active 
					background: none

				&:focus 
					background: none


			&:last-child 
				margin-right: 0

			&.active a 
				color: $white
				background: none




.wrapper 
	padding-top: 60px
	padding-bottom: 60px

.section 
	//If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 4px 0 $black_14
	padding: 45px
	background: $white
	margin-bottom: 45px
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 2px
	//If you use compass, instead of the line below you could use + background-clip($clip)
	background-clip: padding-box
	&:last-child 
		margin-bottom: 0


.section-title 
	margin-top: 0
	margin-bottom: 45px
	font-size: 24px
	text-align: center

.timeline 
	border-left: 3px solid $color_red_orange_approx
	//If you use compass, instead of the line below you could use + border-bottom-right-radius($radius)
	border-bottom-right-radius: 2px
	//If you use compass, instead of the line below you could use + border-top-right-radius($radius)
	border-top-right-radius: 2px
	position: relative
	padding: 0 30px
	margin-left: 280px
	.item 
		position: relative
		margin-bottom: 45px
		&:last-child 
			margin-bottom: 0

		&:before 
			content: ""
			position: absolute
			left: -43px
			top: 0
			display: inline-block
			width: 22px
			height: 22px
			//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
			border-radius: 50%
			//If you use compass, instead of the line below you could use + background-clip($clip)
			background-clip: padding-box
			background: $white
			border: 3px solid $color_red_orange_approx

		&:after 
			content: ""
			position: absolute
			left: -37px
			top: 6px
			display: inline-block
			width: 10px
			height: 10px
			//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
			border-radius: 50%
			//If you use compass, instead of the line below you could use + background-clip($clip)
			background-clip: padding-box
			background: $color_red_orange_approx
			z-index: 10


	.work-place 
		position: relative

	.location 
		position: absolute
		right: 0
		top: 2px
		color: $color_stack_approx
		.fa 
			margin-right: 5px


	.place 
		margin-top: 0
		margin-bottom: 15px
		font-size: 20px
		font-weight: 300

	.job-meta 
		position: absolute
		left: -280px
		top: 0
		.title 
			font-size: 18px
			color: $color_red_orange_approx
			max-width: 260px

		.time 
			color: $color_stack_approx


	.job-desc 
		color: $color_storm_dust_approx


.education-section 
	.item 
		margin-bottom: 45px

	.item-inner 
		padding: 0 30px

	.degree 
		font-size: 18px
		color: $color_red_orange_approx
		margin-top: 0
		margin-bottom: 0

	.education-body 
		margin-bottom: 0
		font-size: 16px
		font-weight: 300

	.time 
		color: $color_stack_approx
		margin-bottom: 15px

	.desc 
		color: $color_storm_dust_approx


.skills-section 
	.subtitle 
		font-size: 18px
		color: $color_stack_approx
		margin-top: 0
		margin-bottom: 45px
		font-weight: 300

	.top-skills 
		margin-bottom: 60px
		.item 
			margin-bottom: 45px


	.level 
		color: $color_stack_approx
		margin-bottom: 15px

	.desc 
		color: $color_storm_dust_approx

	.skill-tag 
		//If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 1px 4px 0 $black_14
		padding: 6px 30px
		display: inline-block
		margin-right: 10px
		border: 1px solid $color_wild_sand_approx
		font-weight: 500
		margin-bottom: 15px
		font-size: 16px


.chart-easy-pie 
	positon: relative

.chart 
	width: 110px
	height: 110px
	vertical-align: middle
	position: relative
	margin: 0 auto
	text-align: center
	font-size: 20px
	font-weight: 300
	margin-bottom: 30px
	span 
		line-height: 110px

	canvas 
		position: absolute
		left: 0
		top: 0


.testimonials-section 
	.testimonials-carousel 
		max-width: 800px
		margin: 0 auto

	.item 
		padding-left: 60px
		margin-bottom: 45px

	.quote 
		border-left: none
		padding: 0
		font-size: 22px
		color: $color_storm_dust_approx
		font-weight: 300
		position: relative

	.source 
		.name 
			font-size: 16px

		.position 
			color: $color_stack_approx


	.fa-quote-left 
		position: absolute
		left: -60px
		top: 0
		width: 36px
		height: 36px
		display: inline-block
		background: $color_red_orange_approx
		color: $white
		//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
		border-radius: 50%
		//If you use compass, instead of the line below you could use + background-clip($clip)
		background-clip: padding-box
		text-align: center
		padding-top: 10px
		font-size: 16px

	.carousel-indicators 
		bottom: 0
		margin-bottom: 0
		li 
			background-color: $color_silver_approx
			border: none
			width: 10px
			height: 10px
			margin: 0
			margin-right: 5px
			&.active 
				background-color: $color_red_orange_approx
				width: 10px
				height: 10px
				margin: 0
				margin-right: 5px




.portfolio-section 
	.filters 
		list-style: none
		margin: 0 auto
		margin-bottom: 60px
		text-align: center
		border-bottom: 1px solid $color_gray_nurse_approx
		.type 
			margin-right: 30px
			list-style: none
			display: inline-block
			padding: 8px 15px
			color: $color_stack_approx
			cursor: pointer
			font-size: 14px
			text-transform: uppercase
			font-weight: 500
			&:last-child 
				margin-right: 0

			&.active 
				color: $color_red_orange_approx
				border-bottom: 2px solid $color_red_orange_approx



	.item 
		margin-bottom: 30px

	.item-inner 
		background: $color_red_orange_approx
		color: $white
		//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
		border-radius: 2px
		//If you use compass, instead of the line below you could use + background-clip($clip)
		background-clip: padding-box
		position: relative
		//If you use compass, instead of the line below you could use + box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 1px 4px 0 $black_14
		&:hover 
			background: $color_red_orange_approx
			img 
				opacity: 0.9


		.content 
			padding: 30px
			padding-bottom: 75px
			position: relative
			a 
				color: $white

			.sub-title 
				font-size: 16px
				margin-top: 0
				margin-bottom: 5px

			.meta 
				color: $white_80
				font-size: 14px

			.action 
				position: absolute
				bottom: 30px
				left: 30px


		.link-mask 
			display: block
			position: absolute
			width: 100%
			height: 100%
			left: 0
			top: 0



.contact-section 
	.intro 
		position: relative
		padding: 30px
		padding-left: 190px
		font-size: 16px
		color: $color_storm_dust_approx
		.profile-image 
			width: 120px
			height: 120px
			position: absolute
			left: 30px

		p 
			margin-bottom: 15px


	.service-list 
		margin-left: 30px
		margin-bottom: 15px
		li 
			margin-bottom: 15px

		.fa 
			color: $color_red_orange_approx


	.social 
		margin-bottom: 0
		li 
			margin-right: 10px
			&:last-child 
				margin-right: 0


		a 
			display: inline-block
			text-align: center
			font-size: 24px
			color: $color_stack_approx
			&:hover 
				color: $color_red_orange_approx




@media(max-width: 767px) 
	.header 
		.social 
			margin: 0 auto
			text-align: center

		.actions 
			position: static
			margin: 0 auto
			margin-bottom: 30px
			text-align: center
			.btn 
				margin-bottom: 15px
				font-size: 12px
				display: inline-block


		.name 
			font-size: 36px

		.title 
			font-size: 22px

		.contact-info li 
			margin-right: 0
			margin-bottom: 15px
			font-size: 14px
			width: 100%
			display: inline-block
			&:last-child 
				margin-bottom: 0



	.section 
		padding: 30px

	.section-title 
		font-size: 20px

	.timeline 
		margin-left: 0
		padding-right: 0
		.place 
			margin-bottom: 5px

		.job-meta 
			position: static
			margin-bottom: 15px


	.portfolio-section 
		.filters .type 
			font-size: 12px
			margin-right: 5px
			padding: 8px 5px

		.item-inner .content 
			padding: 15px
			.sub-title 
				font-size: 14px
				max-width: 120px
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap

			.meta 
				margin-bottom: 30px
				max-width: 120px
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap

			.action 
				position: static
				font-size: 12px



	.contact-section 
		.intro 
			padding: 0
			text-align: center
			.profile-image 
				position: static
				margin: 0 auto
				margin-bottom: 30px
				text-align: center


		.service-list 
			margin-left: 0

		.social 
			margin: 0 auto


	.education-section .item 
		padding: 0


.config-trigger 
	position: absolute
	top: 30px
	left: -36px
	width: 36px
	height: 36px
	background: $color_log_cabin_approx
	color: $white
	text-align: center
	//If you use compass, instead of the line below you could use + border-top-right-radius($radius)
	border-top-right-radius: 0
	//If you use compass, instead of the line below you could use + border-bottom-right-radius($radius)
	border-bottom-right-radius: 0
	//If you use compass, instead of the line below you could use + border-bottom-left-radius($radius)
	border-bottom-left-radius: 4px
	//If you use compass, instead of the line below you could use + border-top-left-radius($radius)
	border-top-left-radius: 4px
	//If you use compass, instead of the line below you could use + background-clip($clip)
	background-clip: padding-box
	text-decoration: none
	&:hover 
		background: $black
		text-decoration: none
		.fa 
			color: $white


	.fa 
		font-size: 22px
		padding-top: 7px
		display: block
		color: $white_80


.config-panel 
	position: absolute
	top: 160px
	right: -190px
	z-index: 30
	width: 190px
	.panel-inner 
		position: relative
		background: $color_log_cabin_approx
		color: $white
		padding: 15px
		//If you use compass, instead of the line below you could use + border-top-right-radius($radius)
		border-top-right-radius: 0
		//If you use compass, instead of the line below you could use + border-bottom-right-radius($radius)
		border-bottom-right-radius: 0
		//If you use compass, instead of the line below you could use + border-bottom-left-radius($radius)
		border-bottom-left-radius: 4px
		//If you use compass, instead of the line below you could use + border-top-left-radius($radius)
		border-top-left-radius: 4px
		//If you use compass, instead of the line below you could use + background-clip($clip)
		background-clip: padding-box

	.panel-title 
		font-weight: 600
		margin-bottom: 15px
		font-size: 14px
		text-transform: uppercase

	label 
		color: $white

	#color-options 
		margin-bottom: 0
		li 
			a 
				display: block
				width: 28px
				height: 20px
				border: 2px solid transparent
				margin-bottom: 10px
				&:hover 
					opacity: 0.9
					border: 2px solid $white_80


			&.active a 
				border: 2px solid $white



	.close 
		position: absolute
		right: 5px
		top: 5px
		color: $white
		.fa 
			color: $white



.skill-name 
	color: $color_red_orange_approx

.test 
	color: $color_royal_purple_approx

.footer .container 
	padding: 30px
	color: $color_stack_approx
	letter-spacing: 0.5px
	a 
		color: $color_stack_approx


img.profile-image 
	//If you use compass, instead of the line below you could use + border-radius($radius, $vertical-radius)
	border-radius: 50%
	border: 4px $white solid